.hero-section {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/img/cover.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hero-h1{
    font-size: 110px;
    font-weight: 100;
    margin-top: 100px;
    margin-bottom: 0;
   
}

.hero-h2{
    font-size: 60px;
    font-weight: 300;
    font-style: italic;
    margin-top: 20px;
    border: 1px dotted #9b793e;
    padding: 15px;
    color: #9b793e;
}

.font-icon{
    font-size: 30px;
    color: #fff;
}

.insta{
    color: #fff;
}

.icon-container{
    display: flex;
    flex-direction: row;
}

.icon-container a:visited{
    color: #fff;
}

.icon-style{
    font-size: 30px;
    margin: 10px;
    transition: 0.3s ease-in-out;
}

.icon-style:hover{
   color: #9b793e;
   cursor: pointer;
}

.icon-style-btn{
    font-size: 12px;
}



