.about-section{
    background-color:#161615; 
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container{
    width: 70%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.h-title{
    font-size: 70px;
    font-weight: 100;
    position: relative;
    z-index: 1;
}

.h-title::after{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90px; 
  height: 90px; 
  background-color: #9b793e; 
  border-radius: 50%; 
  margin-top: 5px;
  content: "";
  z-index: -1;
  opacity: 0.4;
}

.about-img{
    height: 700px;
    border: 1px solid #fff;
}

.about-text{
    font-size: 18px;
    font-weight: 100;
    text-align: justify;
    width: 45%;
}

.img-container{
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
}