.contact-section {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/img/contact-cover.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
}

.contact-container {
    width: 70%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
}

.h-title {
    font-size: 70px;
    font-weight: 100;
    position: relative;
    z-index: 1;
    color: #fff;
}

.h-title::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90px;
    height: 90px;
    background-color: #9b793e;
    border-radius: 50%;
    margin-top: 5px;
    content: "";
    z-index: -1;
    opacity: 0.4;
}

.contact-img{
    border-radius: 100%;
    width: 150px;
    border: #9b793e 2px solid;
    margin: 0;
    padding: 0;
}

.title-contact{
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 200;
}

.contact-h{
    font-size: 22px;
    font-weight: 300;
    color: #9b793e;
}

.contact-box{
    display: flex;
    flex-direction: column;
}

.contact-p{
    font-size: 16px;
    font-weight: 200px;
}

.icon-contact{
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    color: #9b793e;
}


