.nav-section {
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.nav-section li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #9b793e;
  transition: background-color 0.3s ease-in-out, color 0.3s ease;
}

.nav-section li a:hover {
  background-color: #f8f7f2;
  color: #45464B;
  transition: background-color 0.3s ease-in-out, color 0.3s ease;
}

.nav-section li a:active {
  color: #222220;
}

.logo {
  width: 250px;
}

.btn-lang {
  border: 0;
  background-color: #ffffff;
  color: #161616;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease, color 0.3s ease-in-out;
  border-right: 1px solid #9b793e;
}

.btn-lang:last-child{
  border-right: 0;
}

.btn-lang:hover {
  color: #c0c0c0;
  background-color:#f0f0f0;
}

